.content {
    grid-area: main;
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        th:nth-child(1),
        td:nth-child(1) {
            width: 35px;
        }
        th:nth-child(2),
        td:nth-child(2) {
            width: 55%;
        }
        th:nth-child(3),
        td:nth-child(3) {
            width: 15%;
        }
    }
    thead {
        background: #eee;
    }
    tbody {
        overflow: auto;
        width: 100%;
        height: 200px;
        tr {
            transition: 0.1s all linear;
            &:nth-child(even) {
                background: #fcfcfc;
            }
            &:nth-child(odd) {
                background: #f1f1f1;
            }
            &:hover,
            &.selected {
                background: #0692b5;
                color: #fff;
            }
            &:hover {
                filter: brightness(0.86);
            }
            &.selected:hover {
                filter: brightness(1.1);
            }
        }
    }
    td,
    th {
        text-wrap: nowrap;
        padding: 5px 10px;
        box-sizing: border-box;
        &:not(:last-child) {
            border-right: 1px solid #eee;
        }
        &:first-child {
            text-align: right;
        }
        .svgic {
            width: 16px;
            margin-left: auto;
        }
    }
    tbody {
        display: block;
        height: 200px;
        overflow: auto;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
