:root {
    --main-color: rgb(32, 159, 209);
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: Canvas;
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.window {
    margin: 30px auto 0;
    max-width: 1200px;
    resize: horizontal;
}

.window-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.window-view {
    container-name: window;
    container-type: inline-size;
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 16px 0px rgba(66, 68, 90, 0.3);
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

@container window (max-width: 700px) {
    .window-wrapper {
        grid-template-columns: 0px 1fr;
    }
}

body:has(.popup):after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    backdrop-filter: blur(3px);
}

.button {
    border: none;
    background: var(--main-color);
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 3px;
}
