.toolbar {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #f1f1f1;
    align-items: center;
    grid-area: toolbar;
    .breadcrumbs {
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:before {
            content: '.';
        }
        span {
            margin-left: 0.1rem;
            cursor: pointer;
        }
        span:before {
            content: '/';
            margin-right: 0.1rem;
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        gap: 0.5rem;
        & > .separator:first-of-type {
            display: none;
        }
        .toolbar-button + .separator {
            display: block;
        }
    }
}
